<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/index.css">
        <title>Calculator App</title>
    </head>
    <body>
        <header class="text-center mt-5">
            <h1>Calculator Application</h1>
        </header>

        <div class="container mt-5">
            <!-- Calculator Display -->
            <div class="row my-2 text-right justify-content-center">
                <div class="col-11 display">
                    <p class="m-0" style="height: 25px;">0</p>
                </div>
            </div>
            <!-- Operator Buttons -->
            <div class="row mt-2 text-center">
                <div class="col-3">
                    <button id="add" class="operator">+</button>
                </div>
                <div class="col-3">
                    <button id="subtract" class="operator">-</button>
                </div>
                <div class="col-3">
                    <button id="multiply" class="operator">*</button>
                </div>
                <div class="col-3">
                    <button id="divide" class="operator">/</button>
                </div>
            </div>
            <div class="row text-center">
                <!-- Numbers -->
                <div class="col-9">
                    <div class="row my-2 text-center">
                        <div class="col-4">
                            <button class="number">7</button>
                        </div>
                        <div class="col-4">
                            <button class="number">8</button>
                        </div>
                        <div class="col-4">
                            <button class="number">9</button>
                        </div>
                    </div>
                    <div class="row my-2 text-center">
                        <div class="col-4">
                            <button class="number">4</button>
                        </div>
                        <div class="col-4">
                            <button class="number">5</button>
                        </div>
                        <div class="col-4">
                            <button class="number">6</button>
                        </div>
                    </div>
                    <div class="row my-2 text-center">
                        <div class="col-4">
                            <button class="number">1</button>
                        </div>
                        <div class="col-4">
                            <button class="number">2</button>
                        </div>
                        <div class="col-4">
                            <button class="number">3</button>
                        </div>
                    </div>
                    <div class="row my-2 text-center">
                        <div class="col-4">
                            <button class="number">0</button>
                        </div>
                        <div class="col-4">
                            <button class="number">.</button>
                        </div>
                        <div class="col-4">
                            <button id="clear">C</button>
                        </div>
                    </div>
                </div>
                <!-- Equals Button -->
                <div class="col-3 my-2">
                    <button id="equal">=</button>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>