<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/index.css">
        <title>Calculator App</title>
    </head>
    <body>
        <header>
            <h1>Calculator Application</h1>
        </header>

        <div class="container">
            <!-- Calculator Display -->
            <div class="row">
                <div class="col">
                    <p>Display Here</p>
                </div>
            </div>
            <!-- Operator Buttons -->
            <div class="row">
                <div class="col-3">
                    <button>+</button>
                </div>
                <div class="col-3">
                    <button>-</button>
                </div>
                <div class="col-3">
                    <button>*</button>
                </div>
                <div class="col-3">
                    <button>/</button>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <button>7</button>
                        </div>
                        <div class="col-4">
                            <button>8</button>
                        </div>
                        <div class="col-4">
                            <button>9</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button>4</button>
                        </div>
                        <div class="col-4">
                            <button>5</button>
                        </div>
                        <div class="col-4">
                            <button>6</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button>1</button>
                        </div>
                        <div class="col-4">
                            <button>2</button>
                        </div>
                        <div class="col-4">
                            <button>3</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button>0</button>
                        </div>
                        <div class="col-4">
                            <button>.</button>
                        </div>
                        <div class="col-4">
                            <button>C</button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <button>=</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>