<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/index.css">
        <title>Calculator App</title>
    </head>
    <body>
        <h1>Calculator App</h1>

        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>